/* common styles are here */
* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    max-width: 1920px;
}

.common-btn {
    border-radius: 8px;
    background: #E55473;
    padding: 20px 43px;
    border: none;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700;
}

.section-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-top: 180px;
}

.section-info {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

/* main part */

/* Banner related style */

.banner {
    background: rgba(229, 84, 115, 0.10);
    display: flex;
    justify-content: space-between;
    padding: 30px 240px 0 240px;
}

.banner-container {
    max-width: 600px;
    margin: 190px 100px 160px 0px;
}

.banner-title {
    color: #272727;
    font-size: 60px;
    font-weight: 800;

}

.banner-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    width: 500px;
    margin: 30px 0 30px 0;
}

.banner .banner-photo {
    width: 600px;

}

/* main section  */

#common-section-info {

    width: 600px;
    margin: 30px auto;

}

/* image section */


.image-section {
    display: flex;
    justify-content: center;
    padding: 30px 240px;
    gap: 25px;
    margin: auto;
}

.image-container-1 {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}

.image-one {
    padding: 110px 75px 0px 75px;
}

.image-container-2 {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}

.image-two {
    padding: 117px 47px 51px 47px;
}


.image-container-3 {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}

.image-three {
    padding: 67px 75px 0px 75px;
}


.image-info {
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    text-decoration: underline;
    margin-top: 35px;
}


/* hot deal section */

#word-art {
    color: #E55473;
}

.hot-deal-section {
    display: flex;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    margin-top: 100px;
    justify-content: space-between;
    padding: 100px 425px;
    gap: 180px;
}

.hot-deal-container {
    text-align: center;
}

.title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-top: 200px;
}

.hot-deal-description {
    width: 594px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin: 30px 0;

}

/* Display images style */

.display-image {
    width: 342px;
    height: 396px;
}

/* Get The Latest Deals */

.latest-deal-section {
    background-image: url('Flower Asset/Rectangle\ 9.png');
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 8px;
    margin: auto;
    height: 450px;
    padding: 125px 280px;

}

.input {
    width: 700px;
    height: 64px;
    border-radius: 8px;
    background: #FFF;
    border: none;

}

.search-and-btn {
    display: flex;
    gap: 18px;
    justify-content: center;
    margin-top: 50px;

}


/* footer styles are here */

footer {

    height: 450px;
    background: #111010;
}

.footer-container {

    margin: auto;
    padding: 130px 200px;
    width: 625px;
}

.footer-title {
    color: #FFFFFF;
    text-align: center;
    font-size: 48px;
    font-weight: 800;
    margin-top: 30px;
}

.footer-info {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-top: 30px; 
}